<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Connect Task</title>
        <link rel="stylesheet" type="text/css" href="/static/css/normalize.mini.css">
        <link rel="stylesheet" type="text/css" href="/static/css/main.mini.css">
    </head>
    <body>
      <h1>iFrame Test</h1>
    </body>
    <!-- <body>
        <div id="dragAndDrop">
            <div class="box" id="box1" draggable="true" style="background-color: #618685"></div>
            <div class="box" id="box2" draggable="true" style="background-color: #fefbd8"></div>
            <div class="box" id="box3" draggable="true" style="background-color: #80ced6;"></div>
        </div>
        <div id="ajaxRequest">
            <input type="button" value="AJAX Request" id="requestButton"/>
        </div>
        <div id="snapPointGallery">
            <img src="/static/images/1.png" />
            <img src="/static/images/2.png" />
            <img src="/static/images/3.png" />
            <img src="/static/images/4.png" />
            <img src="/static/images/5.png" />
        </div>
        <script src="http://code.jquery.com/jquery-1.11.0.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="/static/js/dragAndDrop.mini.js" type="text/javascript" charset="utf-8"></script>
        <script src="/static/js/ajaxRequest.mini.js" type="text/javascript" charset="utf-8"></script>
    </body> -->
</html>
